
h1 {
  color: white;
  font-size: 25px;
  text-align: center
}

.col-a {
  background-color: #F7EA00;
  margin: 5px;
  height: 200px;
  width: calc(100% - 10px);
}

.col-bcdefg {
  height: 480px;
  margin: 5px;
  width: calc(66.66% - 10px);
}

.col-b {
  background-color: #5EC9EA;
  margin: 5px;
  height: 230px;
  width: calc(33.33% - 10px);
}

.col-c {
  background-color: #E836B1;
  margin: 5px;
  height: 230px;
  width: calc(33.33% - 10px);
}

.col-d {
  background-color: #F7B93C;
  margin: 5px;
  height: 230px;
  width: calc(33.33% - 10px);
}

.col-e {
  background-color: #ED5A5A;
  margin: 5px;
  margin-top: 5px;
  height: 230px;
  width: calc(33.33% - 10px);
}

.col-f {
  background-color: #41EFB9;
  margin: 5px;
  margin-top: 5px;
  height: 230px;
  width: calc(33.33% - 10px);
}

.col-g {
  background-color: #92E542;
  margin: 5px;
  height: 230px;
  width: calc(33.33% - 10px);
}

.col-h {
  background-color: #E486EA;
  margin: 5px;
  height: 480px;
  width: calc(33.33% - 10px);
}

@media screen and (max-width: 768px) {
  .col-a,
  .col-h {
    height: 100px;
    width: calc(100% - 10px);
  }
  .col-bcdefg {
    height: 220px;
    width: calc(100% - 10px);
  }
  .col-b,
  .col-c,
  .col-d,
  .col-e,
  .col-f,
  .col-g {
    height: 100px;
  }
}
