body {
  font-family: 'Shadows Into Light Two', cursive;
}

h1 {
  color: white;
  font-size: 30px;
  text-align: center
}

.col-abc {
  background-color: #F7EA00;
  margin: 5px;
  height: 200px;
  width: calc(100% - 10px);
}

.col-bca {
  background-color: #34EAA9;
  margin: 5px;
  height: 460px;
  width: calc(66.66% - 10px);
}

.col-cab {
  background-color: #E486EA;
  margin: 5px;
  height: 460px;
  width: calc(33.33% - 10px);
}

@media screen and (max-width: 768px) {
  .col-bca,
  .col-cab {
    height: 200px;
    width: calc(100% - 10px);
  }
}
