h1 {
  color: white;
  font-size: 25px;
  text-align: center
}

.col-a {
  background-color: #F7EA00;
  margin: 5px;
  height: 200px;
  width: calc(100% - 10px);
}

.col-bcde {
  height: 470px;
  margin: 5px;
  width: calc(66.66% - 10px);
}

.col-b {
  background-color: #34EAA9;
  margin-bottom: 5px;
  height: 230px;
  width: 100%;
}

.col-c {
  background-color: #36B6E8;
  height: 230px;
  width: 33.33%;
}

.col-d {
  background-color: #E836B1;
  margin-left: 5px;
  height: 230px;
  width: calc(33.33% - 5px);
}

.col-e {
  background-color: #F7B93C;
  margin-left: 5px;
  height: 230px;
  width: calc(33.33% - 5px);
}

.col-f {
  background-color: #E486EA;
  margin: 5px;
  height: 470px;
  width: calc(33.33% - 10px);
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 20px;
  }
  .col-a,
  .col-f {
    height: 80px;
    width: calc(100% - 10px);
  }
  .col-bcde {
    height: 220px;
    width: calc(100% - 10px);
  }
  .col-b {
    height: 140px;
  }
  .col-c,
  .col-d,
  .col-e {
    height: 80px;
  }
  .col-f {
    margin-top: 10px;
  }
}
