<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Ejercicio 3</title>
    <link rel="stylesheet" href="../css/maintres.css">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two" rel="stylesheet">
  </head>
  <body>
    <header class="sec-encabezado">
      <h1>A</h1>
    </header>
    <section class="sec-contenido1">
      <h1>B</h1>
    </section>
    <section class="sec-contenido2">
      <h1>C</h1>
    </section>
    <section class="sec-contenido3">
      <h1>D</h1>
    </section>
    <aside class="sec-columna-lateral">
      <h1>H</h1>
    </aside>
    <section class="sec-contenido4">
      <h1>E</h1>
    </section>
    <section class="sec-contenido5">
      <h1>F</h1>
    </section>
    <section class="sec-contenido6">
      <h1>G</h1>
    </section>
  </body>
</html>
