<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Ejercicio 3</title>
    <link rel="stylesheet" href="../css/maintres.css">
    <link rel="stylesheet" href="../css/grid.css">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two" rel="stylesheet">
  </head>
  <body>
    <section class="container">
      <section class="row">
        <section class="col-a">
          <h1>A</h1>
        </section>
      </section>
      <section class="row">
        <section class="row">
          <section class="col-bcdefg">
            <section class="col-b">
              <h1>B</h1>
            </section>
            <section class="col-c">
              <h1>C</h1>
            </section>
            <section class="col-d">
              <h1>D</h1>
            </section>
            <section class="col-e">
              <h1>E</h1>
            </section>
            <section class="col-f">
              <h1>F</h1>
            </section>
            <section class="col-g">
              <h1>G</h1>
            </section>
          </section>
          <section class="col-h">
            <h1>H</h1>
          </section>
        </section>
      </section>
    </section>
  </body>
</html>
