<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Ejercicio 1</title>
    <link rel="stylesheet" href="../css/mainuno.css">
    <link rel="stylesheet" href="../css/grid.css">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two" rel="stylesheet">
  </head>
  <body>
    <section class="container">
      <section class="row">
        <section class="col-abc">
          <h1>A</h1>
        </section>
      </section>
      <section class="row">
        <section class="col-bca">
          <h1>B</h1>
        </section>
        <section class="col-cab">
          <h1>C</h1>
        </section>
      </section>
    </section>

  </body>
</html>
